body {
    /*needed if using the fixed top navbar*/
    padding-top: 70px;
}

/*for the datset's name right next to brand name*/
.navBarTitle {
    padding-left: 1em;
}

.bgr_lightGray {
    background-color: #eee;
}

.bgr_lightBlue {
    background-color: #c3d9ef;
}

.bgr_vlgray {
    background-color: #f8f8f8;
}

/* the opengovintelligence magenta*/
.color_ogi {
    color: #e44690;
}

.color_cso {
    color: #1F4A86;
}

/* for the line separating the chart selector from the dims values */
.line-separator{
    height:10px;
    border-top : 1px solid #BBBBBB;
}

/*style for the graph area*/
.graph {
    padding: 10px;
    margin-top: 20px;
}

/*for the graph alarm text*/
.graphAlarm {
    color: darkred;
    width: 100%;
    text-align: center;
}

.auto-width {
    width: auto;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

/* for the horizontal bar with measure and free dimension selectors */
.padding-top-bottom5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*for the spinner / loader */
.spinning {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 5% auto;
    margin-left: -30px;
    margin-top: -30px;

    border: 8px solid #f3f3f3;      /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

/* for the error message that is presented below the spinner */
.errorMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 5% auto;
    margin-left: -75px;
    width: 150px;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* for the graph axis */
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/*for the dataCircles of the area chart*/
.dataCircle:hover {
    fill: orange;
}
/* for the pie value labels - in order to make the hidden ones appear */
.pieTextVisible {
    display: block !important;
}

/*for the legend text in pie chart - in order to be not selectable*/
.unselectable{
    -webkit-user-select: none;  /* Chrome/Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE10+ */
}


